body {
    background: linear-gradient(aquamarine, rgb(89, 166, 253))
}

#inicio {
    font-size:30px;
    font-weight:bold;
    width:100%
}
section{
    text-align:center;
    padding: 100 50 50px 50px;
}

nav {
    position:absolute;
    top: 10px;
    right: 10px;

}

li{
    padding:10px 0px;
}

nav li {
    display: inline;


}

h2{
    font-size: 30px;
    font-weight: bold;
    padding:10px 0px;
}
.forma {
    padding: 30px auto;
    font-size:16px;

}

.sub {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

ul {
    font-size: 18px;
    font-weight: italic;
}

.cursos{
    display:block;
    padding:15px 40px 20px 10px;
    box-sizing: border-box;
    border:2px solid black;


    
}

.hard{
    font-size: 18px;
    font-style: italic;
    
}

h3{
    font-size:30px;
    font-weight:bold;
    padding: 10px 0;
}

footer{
    text-align: center;
    padding:190px 40px 60px 40px;
    color:white;
}

